<div class="container mt-5">
  <div class="card">
    <div class="head">
      <h2>Rate The Bag of CHRISTIAN DIOR</h2>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img style="width: 500px;" src="../assets/dior.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h3>CHRISTIAN DIOR</h3>
        <p>The Dior Book Tote, part of the Dioramour capsule, is an original creation introduced by Maria Grazia Chiuri, Dior's Creative Director, and has become a staple of the Dior aesthetic. The design is part of the Dioramour capsule and is fully embroidered with the red and white D-Royaume d'Amour motif, imagined by Pietro Ruffo and further adorned with the 'CHRISTIAN DIOR' signature on the front. The small tote exemplifies the House's signature savoir-faire and may be carried by hand or worn over the shoulder.</p>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <hr>
        <pre>Rate: <b>{{currentRate}}</b> out of 10</pre>
      </div>
    </div>
  </div>
</div>



